


ul {
	list-style: none;
	display: flex;
}

a {
	text-decoration: none;
	transition: 0.3;
	color: var(--color-font);
}

a:hover {
	opacity: 0.7;
	background-color: none;
}

p {
	font-size: 19.2px;
}

.title-section {
	margin: 20px 0px 20px;
	text-align: center;
	font-size: 2rem;
}



/* ------------------ Nav ------------------ */

header {
	position: fixed;
	top: 0;
	background-color: var(--color-background);
	width: 100%;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 10vh;
	background-image: var(--color-background);
}

.nav-logo {
	font-size: 30px;
	letter-spacing: 2px;
}

.nav-list {
	position: absolute;
	top: 10vh;
	right: 0;
	width: 50vw;
	height: 80vh;
	background: var(--color-blue-1);
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transform: translateX(100%);
	transition: transform 0.3s ease-in;
}

.nav-list li {
	margin-left: 0;
	opacity: 0;
	font-size: 19px;
}

.mobile-menu {
	cursor: pointer;
}

.mobile-menu div {
	width: 30px;
	height: 2px;
	background: #fff;
	margin: 8px;
	transition: 0.3s;
}

.nav-list.active {
	transform: translateX(0);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translate(50px);
	}

	to {
		opacity: 1;
		transform: translate(0);
	}
}

.mobile-menu.active .line1 {
	transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
	opacity: 0;
}

.mobile-menu.active .line3 {
	transform: rotate(45deg) translate(-5px, -7px);
}

/* ------------------ Home ------------------ */

.home {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 40px 40px 50px 50px;
	height: 45rem;
}

.home-icon img{
	width: 50px;
	margin: 5px 0px 20px 0px;
}

.home-my-img {
	border-radius: 100%;
	width: 20rem;
}

.hr {
	font-size: 3rem;
}

.download-cv {
	padding: 6px;
	border-style: solid;
	border-color: #fff;
	border-width: 2px;
	border-radius: 15px;
}


/* ------------------ About Me ------------------ */

#about-me-section {
	scroll-margin-top: 90px;
	margin: 200px 80px 0px 80px;
	height: 55rem;
}

.about-me-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.about-me-text {
	font-size: 22px;
	width: 20rem;
	background-color: var(--color-blue);
	padding: 20px;
	text-align: start;
	height: fit-content;
	border-radius: 15px;
}

.about-me-img {
	width: 27rem;
}

.about-me-text a {
	color: var(--color-green-0);
}


/* ------------------ Projects ------------------ */

#project-section {
	scroll-margin-top: 90px;
	margin: 90px 60px 0px 60px;
}

.project-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, .6fr));
	gap: 20px 30px;
	justify-content: center;
}

.project-single {
	background-color: var(--color-blue);
	border-radius: 5px;
}

.project-single p {
	padding: 20px;
}


.project-img {
	display: block;
	max-width: 100%;
	border-radius: 5px;
	padding: 20px;
}

.project-icon-container {
	margin-left: 20px;
}

.project-icon img {
	width: 40px;
	margin-left: 15px;
}


/* ------------------ Contact ------------------ */

#contact-section {
	scroll-margin-top: 90px;
	margin: 200px 60px 0px 60px;
}

.contact-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.contact-container p {
	margin: 0px 0px 30px 0px;
}


.my-contact img {
	width: 50px;
}


.footer {
	height: 6rem;
	margin: 90px 0px 0px 0px;
	background-image: linear-gradient(var(--color-blue-1), var(--color-green-0));
}

.footer-cr {
	text-align: center;
	padding-top: 35px;
}


img#icon-github {
	width: 50px;
	margin: auto;
}